.first-title{
    text-align: center;
    font-size: 30px;
    text-decoration: solid white;
    background-image: url("images/donation0.jpg");
   


    background-size: cover;
    background-repeat: no-repeat;
}
.first-d{
    color: orange;
    padding: 20px;
    font-size: 20px;
    background-color: blue;
}

.donate-today{
    text-align: center;
    font-size: 50px;
    background-color: aquamarine;
}
.take{
display: flex;
}

.taka{
    text-align: center;
    margin: 10px;
    font-size: large;
    padding: 30px 50px;  

}

#boss{
    color: orangered;
}
 

.football{
    text-align: center;
    font-size: 30px;
}

.out{
    margin-bottom: 0px;
    font-size: 30px;
}

.ragbi{
background-color: orangered;
margin: 10px;
padding: 10px 25px;
border-radius: 10px;
}
.now{
    font-size: large;
    color: white;
}

.cricket{
    font-size: 80px;
}
#help{
    text-align: center;
    display: flex;
    color: greenyellow;
}

.novel{
    display: flex;
    
}

.bot{
    padding: 10px 25px;
font-size: 30px;
}

.button{
    
    width: 300px;
    height:400px;
    margin-left: 30px;
    align-content: center;
    margin-left:10px
}
.fox{

    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button-sub{
    background: rgba(79, 157, 166, 0.1);

}
#button-sub2{
    background: rgba(255, 89, 89, 0.1);
}
#button-sub3{
background: rgba(171, 234, 225, 0.927)
}